<!-- a partial for tthe add product and payment processing page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>NodeCommerce</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="icon"
    href="https://res.cloudinary.com/e-wave/image/upload/v1615257898/commerce_download_ecommerce_shop_shopping_store_icon-1320184205809097681_nxqroq.png"
    size="32x32">
  <!-- Font Awesome -->
  <!-- materialize icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <script src="...node_modules/ckeditor/ckeditor.js"></script>
</head>


<body>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">HOME</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">

            </a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a href="/add-product" class="nav-link border border-light rounded waves-effect"
            >
              <i class="fas fa-plus"></i>Add Product
            </a>
          </li> -->

          <li class="nav-item">
            <a href="/auth/logout" class="nav-link border border-light rounded waves-effect">
              <i class="fas fa-sign-out-alt"></i>Log-Out
            </a>
          </li>



          <li class="nav-item">
            <a href="/auth/google" class="nav-link border border-light rounded waves-effect">
              <i class="fas fa-sign-in-alt"></i>Log-In
            </a>
          </li>



        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
  <br><br>