<%- include('../partials/prodpay') %>
<h1> Payment Complete</h1>
<p>Your transaction was successful 🙂 </p>
<p>Want to purchase more products?, check out our store</p>
<a href="/" class="btn">Go to Store</a>

<%- include('../partials/footer') %>