<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Via Google</title>
     <!-- Font Awesome -->
  <!-- materialize icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" 
  crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
</head>
<body>

    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3><i class="fas fa-shopping-cart"></i>StoryBooks</h3>
                <div class="section">
                    <p class="lead">Shop the latest products right here !</p>
                </div>
                <div class="divider"></div>
                  <div class="section">
                    <a href="/auth/google" class="btn red darken-1">
                    <i class="fab fa-google left"></i>Login With Google
                    </a>
                    </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>


