<%- include('../partials/prodpay') %>
<br><br>
<h1> Oops 😠 </h1>
<p>We're sorry, You don not have the right credentials to view this resource</p>
<a href="/" class="btn">Go Back to Store</a>

<%- include('../partials/footer') %>